@font-face {
  font-family: "Light"; /*Can be any text*/
  src: local("DePixelSchmal"), url("./fonts/DePixelSchmal.ttf") format("truetype");
  font-size: xx-large;
}

* {
  font-family: light;
  text-align: center;
  font-size: 1.4vmax;
  line-height: 3;
}
.firstsection h1{
  font-size:2.5vmax;
  line-height: 2;
  padding-left: 4vmax;
  padding-right:4vmax ;
}
.icon
{
  padding-right: 1vmax;
  font-size: 3vmax;
  color: rgb(92, 92, 92);
  
}
.icons
{
  
  
  color: rgb(0, 0, 0);
  transition: 240ms;
}

a.nav-link {
  
  color: rgb(121, 121, 121);
  transition: 240ms;
  

}

a.nav-link:hover {
  color: rgb(0, 0, 0);
}


.img_first
{
  width:auto ;
  height: 20vmax;
}

.brandy
{
  width: auto;
  height: 3vmax;
}

.Youtube :hover
{
  color: rgb(255, 5, 5);
}

.Insta :hover
{
  color: rgb(244, 59, 130);
}

.Github :hover
{
  color: rgb(194, 74, 245);
}
.Linkdin :hover
{
  color: rgb(113, 198, 255);
}


.firstsection p
{
  line-height: 4;
  font-size: 1.3vmax;
  color: black;
  padding-left: 4vmax;
  padding-right:4vmax ;
}

.quote
{
  font-style: italic;
  text-shadow: 0.2vmax 0.2vmax 0.9vmax;
}