@font-face {
  font-family: "Light"; /*Can be any text*/
  src: local("Pixels"), url("./fonts/Pixels.ttf") format("truetype");
  font-size: xx-large;
}

* {
  font-family: light;
  text-align: center;
  font-size:2.5vmax;
}
.icon
{
  padding-right: 1vmax;
  font-size: 3vmax;
  color: rgb(92, 92, 92);
  
}
.icons
{
  
  
  color: rgb(0, 0, 0);
  transition: 240ms;
}

a.nav-link {
  
  color: rgb(121, 121, 121);
  transition: 240ms;
  

}

a.nav-link:hover {
  color: rgb(0, 0, 0);
}


.img_first
{
  width:auto ;
  height: 20vmax;
}

.brandy
{
  width: auto;
  height: 3vmax;
}

.Youtube :hover
{
  color: rgb(183, 9, 9);
}

.Insta :hover
{
  color: rgb(244, 59, 130);
}

.Github :hover
{
  color: rgb(160, 39, 211);
}